.header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    height: 100px;
    /* Set a height to ensure vertical centering */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.nav-link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: underline;
}