.container {
  max-width: 1200px;
}

.card {
  border-radius: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

.img-thumbnail {
  margin-bottom: 40px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.d-flex .btn {
  margin-right: 5px;
}

.alert {
  margin-bottom: 20px;
}

.row.mb-3 {
  margin-bottom: 15px;
}

.btn {
  margin: 5px;
}